@{
    ViewBag.Title = "Hajj List";
}

<style>
    hr {
        margin: 0px;
    }
</style>

<center><h6 class="print_title" style="border-style: solid; width:320px; text-align:center; margin-top:10px;">Group Leader Wise Hajj List</h6></center>
<div class="clearfix">&nbsp;</div>
<div class="row" ng-controller="ReportsController">
    <div style="margin-top: 10px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-responsive table-bordered table-condensed" style="margin-bottom:10px; width:100%; float:left;">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Hajj Id</th>
                    <th>Full Name</th>
                    <th>Mobile</th>
                    <th>Group Leader</th>
                    <th>Perform</th>
                    <th>Status</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in Hajjes">
                <tr>
                    <td colspan="8"><b>Status: &nbsp;&nbsp;</b><b>{{x[0].StatusName}}</b></td>
                </tr>
                <tr ng-repeat="y in x" style="border: 1px solid black;">
                    <td>{{$index + 1}}</td>
                    <td ng-bind="y.ID"></td>
                    <td ng-bind="y.FullName"></td>
                    <td ng-bind="y.ContactNo || 0"></td>
                    <td ng-bind="y.Name || null"></td>
                    <td ng-bind="y.PerformingHajj || 0"></td>
                    <td ng-bind="y.StatusName || 0"></td>
                    <td ng-show="y.ImageAttach == null"></td>
                    <td ng-show="y.ImageAttach != null"><img ng-src="~/UploadedFiles/{{y.ImageAttach}}" class="image" alt="Image" height="50" width="60"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Hajj/Scripts/Reports/ReportsController.js"></script>
}

