@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
    ViewBag.Title = "Other - Invoice";
}
<style>
    hr {
        margin: 0px;
    }
</style>

<center><h6 class="print_title shadow-header" style="text-align:center; margin-top:10px;">Invoice</h6></center>
@*<div class="clearfix">&nbsp;</div>*@
<div class="row" ng-controller="OtherReportController">
    @*<div class="loader" id="loader2"></div>*@
    <div id="loader2" ng-show="loading">
        <img src="~/Content/images/loading.gif" />
    </div>
    @*<center class="shadow-header"><h4 style="text-align:center; margin-top:10px;">From: {{date.fromDate}}  &nbsp;    To: {{date.toDate}} </h4></center>*@

    <div style="margin-top: 10px;" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <table class="table table-responsive table-bordered table-condensed">
            <tbody>
                <tr>
                    <td><b>Invoice No.</b></td>
                    <td>O{{Ticket.ID}}</td>
                    <td><b>Invoice Date</b></td>
                    <td>{{Ticket.InvoiceDate}}</td>
                </tr>
                <tr>
                    <td><b>Reference</b></td>
                    <td colspan="3">{{Ticket.Name}}</td>
                </tr>
                <tr>
                    <td><b>Name</b></td>
                    <td colspan="3">{{Ticket.PassengerName}}</td>
                </tr>

                <tr>
                    <td><b>Purpose</b></td>
                    <td colspan="3">{{Ticket.Purpose}}</td>
                </tr>
                <tr>

                    <td><b>Selling Rate</b></td>
                    <td colspan="3">{{Ticket.SellingRate}}</td>
                </tr>
                <tr>

                    <td><b>Paid Amount</b></td>
                    <td colspan="3">{{Ticket.PaidAmount}}</td>
                </tr>
                <tr>

                    <td><b>Due Amount</b></td>
                    <td colspan="3">{{Ticket.SellingRate - Ticket.PaidAmount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Hajj/Scripts/OtherReportController.js"></script>
}