
@{
    ViewBag.Title = "Create";
}
<style>
    .table-bordered {
        border: 0.5px solid #e59310;
    }
</style>
<div class="content" ng-controller="RoleCreateCtrl">
    <h1 class="page-header">User Role | Create</h1>
    <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout="5000" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)"><p ng-bind="alert.msg"></p></div>

    <form name="RoleForm" ng-submit="RoleForm.$valid && SaveRole()" ng-class="{'submitted':submitted}" novalidate>
        <div class="panel table-bordered ">
            <div class="panel-body">
                <div class="row">
                    <br />
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="control-label col-lg-1 col-md-1 col-sm-12 col-xs-12">Role</label>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" ng-model="Role.Name" placeholder="Role Name" name="Role"
                                       ng-class="{'validation-error': RoleForm.Role.$invalid && submitted}" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-hide="Role.Id>0">
                            <input type="submit" style="margin-left:2px" class="btn btn-success pull-right" ng-click="submitted = true" value="Save" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-show="Role.Id>0">
                            <input type="submit" style="margin-left:2px" class="btn btn-success pull-right" ng-click="submitted = true" value="Update" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="content2">
    <p>
        <a class="btn btn-success" href="/Hajj/Role/Index">
            <i class="fa fa-arrow-circle-left">
            </i>Back to previous page
        </a>
    </p>
</div>
<script src="~/Areas/Hajj/Scripts/RoleCreateController.js"></script>
